<template>
  <div v-if="isLoggedIn">

    <v-app-bar
        app
        color="accent"
        dark
        clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="isLoggedIn"/>

      <router-link to="/">
        <div class="d-flex align-center">
          <v-img
              alt="Vuetify Logo"
              class="shrink mr-2"
              contain
              src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
              transition="scale-transition"
              width="40"
          />

          <v-img
              alt="Vuetify Name"
              class="shrink mt-1 hidden-sm-and-down"
              contain
              min-width="100"
              src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
              width="100"
          />
        </div>
      </router-link>

      <v-spacer/>

      <v-toolbar-items>

        <div v-if="isLoggedIn">
          <v-btn
              height="100%"
              max-height="none"
              class="rounded-0"
              depressed
              color=accent
              v-for="item in authenticatedMenuItems"
              :key="item.title"
              :to="item.path">
            <v-icon left>
              {{ item.icon }}
            </v-icon>
            {{ item.title }}
          </v-btn>
        </div>
        <div v-else>
          <v-btn
              height="100%"
              max-height="none"
              class="rounded-0"
              depressed
              color=accent
              v-for="item in anonymousMenuItems"
              :key="item.title"
              :to="item.path">
            <v-icon left>
              {{ item.icon }}
            </v-icon>
            {{ item.title }}
          </v-btn>
        </div>

        <v-btn v-if="isLoggedIn" @click="logout" depressed color=accent>
          <v-icon left>
            logout
          </v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-navigation-drawer
        app
        clipped
        :expand-on-hover="!drawer"
        :mini-variant="!drawer"
        color="accent"
        dark
        v-if="isLoggedIn"
    >
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item
              v-for="item in menuItems"
              :key="item.title"
              :to="item.path">
            <v-list-item-title>
              <v-icon left>
                {{ item.icon }}
              </v-icon>
              {{ item.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: 'TopMenu',

  data: () => ({
    anonymousMenuItems: [
      {title: 'Log In', path: '/login', icon: 'login'},
      {title: 'Sign Up', path: '/signup', icon: 'mdi-account-plus-outline'},
    ],
    authenticatedMenuItems: [
      {title: 'Settings', path: '/settings', icon: 'mdi-cogs'},
    ],
    drawer: false,
    group: null,
  }),

  computed: mapState({
    isLoggedIn() {
      return this.$store.getters["auth/isLoggedIn"]
    },
    menuItems() {
      return [
        {
          title: 'Dashboard',
          path: '/',
          icon: 'dashboard',
        }
      ]
    },
  }),

  methods: {
    logout: function () {
      this.$store.dispatch("auth/logout")
          .then(() => {
            this.$router.push("/login")
          })
    },
  },
}
</script>
