<template>
  <div class="settings">
    <v-row no-gutters>
      <v-col md="auto" >
        <SettingsMenu/>
      </v-col>
      <v-col>
        <v-card elevation="5">
          <Table/>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>


<script>

import SettingsMenu from '@/components/Settings/Menu'
import Table from '@/components/Settings/GasMetersTable'

export default {
  name: 'GasMeters',

  components: {
    SettingsMenu,
    Table,
  },

  methods: {
    refreshList: function () {
      //this.$store.dispatch('credentials/fetchAll')
    },
  }
}
</script>
