<template>
  <v-data-table
      :headers="headers"
      :items="gasMeters"
      :items-per-page="-1"
      class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        Gas meters
        <v-spacer></v-spacer>
        <v-dialog
            v-model="dialog"
            max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
            >
              Add new gas meter
            </v-btn>
          </template>

          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-select
                        v-model="editedItem.client_id"
                        :items="availableClients"
                        :error-messages="errors.client_id"
                        item-text="full_name"
                        item-value="id"
                        label="Client"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>

        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import {mapState} from "vuex";

export default {
  data: () => ({
    headers: [
      {
        text: 'Id',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Client', value: 'client_name'},
      {text: 'Actions', value: 'actions', sortable: false},
    ],
    editedItem: {
      id: '',
      client_id: '',
    },
    defaultItem: {
      id: '',
      client_id: '',
    },
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    errors: {},
  }),

  computed: mapState({
    gasMeters: state => state.gasMeters.gasMeters,
    availableClients: state => state.gasMeters.availableClients,
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  }),

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.gasMeters.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.editedIndex = this.gasMeters.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    close() {
      this.dialog = false
      this.errors = {}
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.errors = {}
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save() {
      this.$store.dispatch('gasMeters/save', {editedIndex: this.editedIndex, editedItem: this.editedItem})
          .then(() => {
            this.close()
          })
          .catch(error => {
            if (error.response.status === 422) {
              this.errors = error.response.data;
            }
          });
    },
    deleteItemConfirm() {
      this.$store.dispatch('gasMeters/delete', {editedIndex: this.editedIndex, editedItem: this.editedItem})
          .then(() => {
            this.close()
          })
          .catch(error => {
            if (error.response.status === 422) {
              this.errors = error.response.data;
            }
          });
      this.closeDelete()
    },
    fetchGasMeters() {
      this.$store.dispatch('gasMeters/fetchAll')
    },
    fetchAvailableClients() {
      this.$store.dispatch('gasMeters/fetchAvailableClients')
    },
  },

  created() {
    this.fetchGasMeters();
    this.fetchAvailableClients();
  }

}
</script>