<template>
    <v-navigation-drawer
        color="accent"
        permanent
        dark
        width="auto"
    >
      <v-list nav dense>
        <v-list-item-group>

          <v-list-item
              v-for="item in settingsMenuItems"
              :key="item.title"
              :to="item.path">
            <v-list-item-title>
              <v-icon left>
                {{ item.icon }}
              </v-icon>
              {{ item.title }}
            </v-list-item-title>
          </v-list-item>

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</template>

<script>

export default {
  data: () => ({
    settingsMenuItems: [
      {title: 'Clients', path: '/settings/clients', icon: 'person'},
      {title: 'Gas meters', path: '/settings/gas-meters', icon: 'mdi-gauge'},
    ],
  }),
}
</script>
