<template>
  <form @submit.prevent="login">
    <v-container grid-list-sm>
      <h2>Sign In</h2>
      <v-layout wrap justify-center align-center>

        <v-flex xs12>
          <v-text-field
              name="email"
              label="Email"
              id="email"
              type="email"
              v-model="email"
              required />
        </v-flex>
        <v-flex xs12>
          <v-text-field
              name="password"
              label="Password"
              id="password"
              v-model="password"
              :error-messages="errors.password"
              :append-icon="passwordHidden ? 'visibility' : 'visibility_off'"
              @click:append="() => (passwordHidden = !passwordHidden)"
              :type="passwordHidden ? 'password' : 'text'"
              required />
        </v-flex>

        <v-flex xs12>
          <v-btn large outlined color="white" type="submit">Sign In</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </form>
</template>

<script>

export default {
  name: 'LoginForm',

  data() {
    return {
      email: "",
      password: "",
      passwordHidden: true,
      errors: {
        password: ""
      },
      isActive : false,
    };
  },
  methods: {
    login: function () {
      const {email, password} = this;
      this.$store.dispatch('auth/login', {email, password})
          .then(() => {
            //this.$store.dispatch('credentials/fetchAll')
            //this.$store.dispatch('timers/listTimers')
            this.$router.push("/");
          })
          .catch(error => {
            if (error.response.status === 401) {
              this.errors.password = "The password or Email you’ve entered is incorrect."
            }
          });
    },
  }
}
</script>
