<template>
  <form @submit.prevent="register">
    <v-container grid-list-sm>
      <h2>Register</h2>
      <v-layout wrap justify-center align-center>
        <v-flex xs12 >
          <v-text-field
              name="name"
              label="Name"
              id="name"
              type="textfield"
              v-model="name"
              :error-messages="errors.name"
              required/>
        </v-flex>
        <v-flex xs12>
          <v-text-field
              name="email"
              label="Email"
              id="email"
              type="email"
              v-model="email"
              :error-messages="errors.email"
              required/>
        </v-flex>
        <v-flex xs12>
          <v-text-field
              name="password"
              label="Password"
              id="password"
              v-model="password"
              :rules="rules.password"
              :error-messages="errors.password"
              :append-icon="passwordHidden ? 'visibility' : 'visibility_off'"
              @click:append="() => (passwordHidden = !passwordHidden)"
              :type="passwordHidden ? 'password' : 'text'"
              required/>
        </v-flex>
        <v-flex xs12>
          <v-text-field
              name="confirmPassword"
              label="Confirm Password"
              id="confirmPassword"
              v-model="password_confirmation"
              :rules="rules.password"
              :error-messages="errors.password_confirmation"
              :append-icon="passwordHidden ? 'visibility' : 'visibility_off'"
              @click:append="() => (passwordHidden = !passwordHidden)"
              :type="passwordHidden ? 'password' : 'text'"
              required/>
        </v-flex>

        <v-flex xs12>
          <v-btn large outlined color="white" type="submit">Sign Up</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </form>
</template>

<script>
export default {
  name: "RegisterForm",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      password_confirmation: "",
      rules: {
        password: [
          v => v.length >= 8 || 'The password must be at least 8 characters.',
        ]
      },
      passwordHidden: true,
      errors: {},
    };
  },
  methods: {
    register: function () {
      const {name, email, password, password_confirmation} = this;
      this.$store.dispatch('auth/register', {name, email, password, password_confirmation})
          .then(() => {
            this.$router.push("/");
          })
          .catch(error => {
            if (error.response.status === 422) {
              this.errors = error.response.data;
            }

            // Backend got into trouble
          });
    },
  }
};
</script>
