<template>
  <v-app v-if="isLoggedIn">
    <MainMenu/>
    <v-main>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
  <v-app v-else>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import MainMenu from './components/MainMenu';
import {mapState} from "vuex";

export default {
  name: 'App',

  components: {
    MainMenu: MainMenu,
  },
  mounted() {

  },
  computed: mapState({
    isLoggedIn() {
      return this.$store.getters["auth/isLoggedIn"]
    },
  }),
  beforeCreate() {
    this.$store.dispatch('gasMeters/fetchAll')
        .catch(error => {
          if (error.response.status === 401) {
            this.$store.dispatch("auth/logout")
              .then(() => {
                this.$router.push('/login')
              })
          }
        });
  }
};
</script>
