<template>
  <div>
    <LineChart
        :chart-data="hourDataset"
        title-text="Gas consumption in the last 60 minutes"
        v-if="hourData"
    />
    <PieChart
        :chart-data="clientDataset"
        title-text="Clients' total gas consumption"
        v-if="clientsConsumptionData"/>
  </div>
</template>

<script>
import PieChart from "@/components/Charts/PieChart.vue";
import LineChart from "@/components/Charts/LineChart.vue"
import {mapState} from "vuex";

export default {
  name: "dashboard",
  components: {
    PieChart,
    LineChart
  },
  created() {
    this.$store.dispatch('gasMeters/fetchLastHourConsumptionData')
    this.$store.dispatch('gasMeters/fetchClientsConsumptionData')
    this.ticker = setInterval(() => {
      this.ticks += 1;
    }, 1000 * 10);
  },
  computed: mapState({
    hourData: state => state.gasMeters.hourData,
    clientsConsumptionData: state => state.gasMeters.clientsConsumptionData,
    hourDataset(state) {
      return {
        labels: Object.keys(state.gasMeters.hourData),
        datasets: [{
          label: "Gas consumption per minute",
          data: Object.values(state.gasMeters.hourData),
          backgroundColor: "transparent",
          borderColor: "rgba(1, 116, 188, 0.50)",
          pointBackgroundColor: "rgba(171, 71, 188, 1)"
        }],
      }
    },
    clientDataset(state) {
      return {
        labels: Object.keys(state.gasMeters.clientsConsumptionData),
        datasets: [{
          data: Object.values(state.gasMeters.clientsConsumptionData),
          backgroundColor: Object.values(state.gasMeters.clientsConsumptionData).map(function () {
            // return random color
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
            }
            return color
          }),
        }],
      }
    },
  }),
  data() {
    return {
      ticker: {},
      ticks: 0,
    };
  },
  watch: {
    ticks: function () {
      this.$store.dispatch('gasMeters/fetchLastHourConsumptionData')
      this.$store.dispatch('gasMeters/fetchClientsConsumptionData')
    },
  },
};
</script>