<template>

  <v-layout justify-center align-center fill-height>
    <v-card width="1080px" max-width="100%" min-height="500px" elevation=18 id="container" class="sign-container hardly-curvy-card-v2" :class="{ 'right-panel-active': isActive}">
      <div class="form-container sign-up-container">
        <RegisterForm/>
      </div>
      <div class="form-container sign-in-container ">
        <LoginForm/>
      </div>
      <div class="overlay-container hardly-curvy-card">
        <div class="overlay ">
          <div class="overlay-panel overlay-left ">
            <h1>Welcome!</h1>
            <p>Sign up and discover the members area.</p>
            <v-btn outlined small color="white" @click="switchPanel">
              Login instead
              <v-icon size="22" >person</v-icon></v-btn>

          </div>
          <div class="overlay-panel overlay-right ">
            <h1>Welcome back!</h1>
            <p>Login to keep going were you left off.</p>
            <v-btn outlined small color="white" @click="switchPanel">
              Register instead
              <v-icon size="22" >person_add</v-icon></v-btn>
          </div>
        </div>
      </div>
    </v-card>
  </v-layout>


</template>

<script>
import LoginForm from "../components/Auth/LoginForm";
import RegisterForm from "../components/Auth/RegisterForm";
export default {
  name: "LoginPage",
  components: {RegisterForm, LoginForm},
  data() {
    return {
      email: "",
      password: "",
      passwordHidden: true,
      errors: {
        password: ""
      },
      isActive : false,
    };
  },
  methods: {
    login: function () {
      const {email, password} = this;
      this.$store.dispatch('auth/login', {email, password})
          .then(() => {
            this.$router.push("/");
          })
          .catch(error => {
            if (error.response.status === 401) {
              this.errors.password = "The password or Email you’ve entered is incorrect."
            }
          });
    },

    switchPanel(){
      this.isActive = !this.isActive;
    }

  }
};
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.hardly-curvy-card{
  border-radius: 30px 0 30px 0 !important;
}

.hardly-curvy-card-v2{
  border-radius: 35px 0 35px 0 !important;
}

form {
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  padding:0;
  height: 100%;
  text-align: center;
}

.form-container {
  position: absolute;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-container.right-panel-active .sign-in-container {
  transform: translateX(0%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

}

.sign-container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background-size: cover;
  background: scroll center url(https://huykhong.com/codepen/wallpaper.jpg);
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.sign-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.sign-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.sign-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


</style>