<template>
  <div class="settings">
    <v-row no-gutters>
      <v-col md="auto" >
        <SettingsMenu/>
      </v-col>
      <v-col>
        <v-card
            elevation="5"
        >
          <v-card-title class="headline">Settings</v-card-title>
          <v-card-text>
            <div>Choose what you wish to modify</div>
          </v-card-text>

        </v-card>
      </v-col>
    </v-row>

    <router-view></router-view>

  </div>
</template>


<script>

import SettingsMenu from '@/components/Settings/Menu.vue'

export default {
  name: 'Settings',

  components: {
    SettingsMenu
  }
}
</script>
